.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	gap: 10px;
	z-index: 1000;
	padding: 10px;
	background-color: #343a40; /* Fondo oscuro para el footer */
	color: #f8f9fa; /* Color de texto claro */

	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Divide el footer en 3 columnas */
	grid-gap: 10px; /* Espacio entre los elementos del grid */
	align-items: center;
}
.footer .dropdown {
	max-width: 150px; /* Ancho máximo para los dropdowns */
	//min-width: 150px;
}

.play-pause-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 40px;
	max-width: 40px;
	height: 40px;
}

.footer .form-select {
	background-color: #343a40; /* Color de fondo oscuro */
	color: #f8f9fa; /* Color del texto claro */
	border-color: #6c757d; /* Color del borde */
}

.footer .form-control {
	background-color: #343a40; /* Color de fondo oscuro */
	color: #f8f9fa; /* Color del texto claro */
	border-color: #6c757d; /* Color del borde */
}

.footer .form-select,
.footer .form-control,
.footer .btn {
	height: 40px; /* Altura fija para todos los elementos */
}

#filter-input {
	background-color: #0f0f10;
	border-color: #333;
	box-shadow: none;
	text-align: left;
	line-height: 13px;
	font-family: Open Sans, Helvetica, Arial, sans-serif;
	font-size: 13px;
	border-radius: 2px;
}

#hostnames-select {
	border-color: #333;
	line-height: 13px;
	font-family: Open Sans, Helvetica, Arial, sans-serif;
	font-size: 13px;
	border-radius: 2px;
	box-shadow: none;
	max-width: 259px;
}

.btn.btn-secondary {
	border-radius: 2px;
	background-color: #333;
	border-color: #333;
}
/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
	.footer {
		grid-template-columns: 150px 1fr auto;
		grid-template-areas:
            "select datefilter button"
            "input input input"; /* Define dos filas */
	}

	.footer > select {
		grid-area: select; /* Coloca el select en la primera fila */
	}

	.footer > app-date-filter-popover {
		grid-area: datefilter; /* Coloca el date-filter en la primera fila */
	}

	.footer > .play-pause-btn {
		grid-area: button; /* Coloca el botón en la primera fila */
	}

	.footer > #filter-input {
		grid-area: input; /* Coloca el input en la segunda fila */
	}

	#expander1 {
		display: none;
	}
}

/* Estilos para dispositivos de escritorio */
@media only screen and (min-width: 769px) {
	.footer {
		/* Asegurarse de que hay suficientes columnas para todos los elementos */
		grid-template-columns: 150px 1fr 0fr 10% auto; /* Una columna para cada elemento */
		grid-template-areas: "select input datefilter expander button"; /* Todos los elementos en una fila */
	}

	/* Asegurándose de que cada elemento esté asignado a la zona correcta */
	.footer > select {
		grid-area: select;
	}

	.footer > #filter-input {
		grid-area: input;
	}

	.footer > app-date-filter-popover {
		grid-area: datefilter;
	}

	.footer > #expander1 {
		grid-area: expander;
	}

	.footer > .play-pause-btn {
		grid-area: button;
	}
}
