<footer class="footer bg-dark">
	<select
		class="form-control form-control-sm"
		id="hostnames-select"
		[(ngModel)]="loggingService.logFilter.hostnameFilter">
		@for(item of hostnames; track item) {
			<option>{{item}}</option>
		}
	</select>
	<input
		class="form-control form-control-sm"
		[(ngModel)]="inputFilter"
		(keydown.enter)="onInputFilter()"
		id="filter-input"
		type="text"/>
	<app-date-filter-popover
		(newQueryEvent)="onDateFilter($event)">
	</app-date-filter-popover>
	<div></div>
	<button
		class="btn btn-secondary play-pause-btn"
		(click)="onStartStopEvent()"
		id="start-stop-btn">
		<fa-icon [icon]="getIcon()"></fa-icon>
	</button>
</footer>

