<footer class="footer bg-dark">
	<select
		class="form-control form-control-sm"
		id="hostnames-select"
		[(ngModel)]="hostnameFilter"
		(ngModelChange)="onHostnameChangeEvent($event)">
		@for (item of hostnames; track item) {
			<option>{{ item }}</option>
		}
	</select>
	<input
		class="form-control form-control-sm"
		[(ngModel)]="inputFilter"
		(keydown.enter)="onInputFilter()"
		id="filter-input"
		type="text"
		autocomplete="off"/>
	<app-date-filter-popover
		(newQueryEvent)="onDateFilter($event)">
	</app-date-filter-popover>
	<div id="expander1"></div>
	<button
		class="btn btn-secondary play-pause-btn"
		(click)="onStartStopEvent()"
		id="start-stop-btn">
		<fa-icon [icon]="getIcon()"></fa-icon>
	</button>
</footer>

