<div id="logs-container" class="container-fluid">
	@for (log of logs; track log.id) {
		<div class="log-line">
			<!-- Elemento de tiempo -->
			<time class="log-line-item" [attr.datetime]="log.dateTime">
				{{ formatDate(log.dateTime) }}
			</time>

			<!-- Elemento de hostname -->
			<a class="log-line-item log-line-a" [href]="">
				{{ log.hostname }}
			</a>

			<!-- Elemento de nombre de la aplicación -->
			<a class="log-line-item log-line-a" [href]="">
				{{ log.appName }}
			</a>

			<!-- Elemento de datos -->
			<span class="log-line-item">
      			{{ log.data }}
    		</span>
		</div>
	}
</div>
