<div id="logs-container" class="container-fluid">
	@for (log of logs; track log.id) {
		<div class="log-line">
			<!-- Elemento de tiempo -->
			<time class="log-line-item" [attr.datetime]="log.dateTime">
				{{ log.dateTime | formatDate }}
			</time>

			<!-- Elemento de hostname -->
			<a class="log-line-item log-line-a" [href]="getHostnameUrl(log.hostname)">
				{{ log.hostname }}
			</a>

			<!-- Elemento de nombre de la aplicación -->
			<a class="log-line-item log-line-a" [href]="getQueryUrl(log.appName)">
				{{ log.appName }}
			</a>

			<!-- Elemento de datos -->
			<span class="log-line-item">
				{{ log.data }}
			</span>
		</div>
	} @empty {
  		<div> There are no logs. </div>
	}
</div>
