@import "bootstrap/scss/bootstrap";

@font-face {
	font-family: 'Source Code Pro';
	src: url("./assets/SourceCodePro-VariableFont_wght.ttf");
}

body, html {
    height: 100%;
    margin: 0;
    background-color: #0f0f10; /*#212529;*/ /* Fondo oscuro para el cuerpo */
    color: #f8f9fa; /* Color de texto claro */
}

body {
    padding-bottom: 60px;
}
